* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  overflow-x: hidden;
}

body {
  background-color: #674baf;
}

.container {
  background-image: url(../images/bg-mobile.svg);
  background-repeat: no-repeat;
  padding: 1.5rem 2rem;
  color: #fff;
  font-family: "Open Sans", sans-serif;
}

.container .logo img {
  width: 30%;
  margin-bottom: 3rem;
}

.container .mockups img {
  display: block;
  width: 100%;
  margin-bottom: 4rem;
}

.container .section {
  text-align: center;
}

.container .section h1 {
  font-family: "Poppins", sans-serif;
  margin-bottom: 1rem;
}

.container .section p {
  margin-bottom: 2rem;
  line-height: 1.5;
}

.container .section .btn {
  background-color: #fff;
  display: block;
  width: 80%;
  text-decoration: none;
  color: #674baf;
  padding: 0.5rem 4rem;
  border-radius: 1.5rem;
  -webkit-box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.1);
          box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.1);
  margin: 0 auto 4rem;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.container .section .btn:hover {
  background-color: #e882e8;
  color: #fff;
}

.container .social ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 40%;
  margin: 0 auto;
}

.container .social ul li i {
  color: #fff;
  border: 1px solid #fff;
  padding: 0.5rem;
  border-radius: 50%;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.container .social ul li i:hover {
  color: #e882e8;
  border-color: #e882e8;
}

.container .social ul li .fa-facebook-f {
  padding: 0.5rem 0.75rem;
}

@media (min-width: 768px) {
  .container {
    padding: 2rem 5.5rem;
  }
  .container .section {
    padding: 0 3rem;
  }
  .container .section .btn {
    width: 40%;
  }
  .container .section .social ul {
    width: 30%;
  }
}

@media (min-width: 1024px) {
  .container {
    padding: 2rem 3rem;
    max-width: 1440px;
    margin: 0 auto;
    position: relative;
    background-image: url(../images/bg-desktop.svg);
  }
  .container .logo img {
    width: 15%;
  }
  .container .wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: fle;
        -ms-flex-align: fle;
            align-items: fle;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .container .wrapper .mockups {
    -ms-flex-preferred-size: 55%;
        flex-basis: 55%;
  }
  .container .wrapper .section {
    -ms-flex-preferred-size: 38%;
        flex-basis: 38%;
    padding: 3rem 0;
    text-align: left;
  }
  .container .wrapper .section h1 {
    font-size: 2.5rem;
  }
  .container .wrapper .section .btn {
    margin: 0 auto 0 0;
    padding: 0.5rem;
    text-align: center;
    width: 30%;
  }
  .container .wrapper .section .social {
    position: absolute;
    right: 0;
    bottom: 20px;
    width: 25%;
    padding: 0 3rem;
  }
  .container .wrapper .section .social ul {
    width: 100%;
  }
}

@media (min-width: 1440px) {
  .section .social {
    max-width: 18%;
  }
}

.attribution {
  font-size: 11px;
  text-align: center;
  color: #fff;
}

.attribution a {
  color: #fff;
}
/*# sourceMappingURL=style.css.map */