// Colors

$clrViolet: hsl(257, 40%, 49%);
$clrMagenta: hsl(300, 69%, 71%);

//Typography

$headingFont: 'Poppins', sans-serif;
$bodyFont:'Open Sans', sans-serif;




// front end mentor 

.attribution {
     font-size: 11px; text-align: center; 
    }
.attribution a {
     color: hsl(228, 45%, 44%); 
    }