// Colors

$clrViolet: hsl(257, 40%, 49%);
$clrMagenta: hsl(300, 69%, 71%);

//Typography

$headingFont: 'Poppins', sans-serif;
$bodyFont:'Open Sans', sans-serif;
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}
body{
    background-color: $clrViolet;
}

.container{
    background-image: url(../images/bg-mobile.svg);
    background-repeat: no-repeat;
    padding: 1.5rem 2rem;
    color: #fff;
    font-family:$bodyFont;

    .logo{
        img{
            width: 30%;
            margin-bottom: 3rem;
        }
    }
    .mockups{
        img{
            display: block;
            width: 100%;
           margin-bottom: 4rem;
        }
        
    }
    .section{
        text-align: center;
        h1{
            font-family: $headingFont;
            margin-bottom: 1rem;
        }
        p{
            margin-bottom: 2rem;
            line-height: 1.5;
        }
        .btn{
            background-color: #fff;
            display: block;
            width: 80%;
            text-decoration: none;
            color: $clrViolet;
            padding: 0.5rem 4rem;
            border-radius: 1.5rem;
            box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.1);
            margin: 0 auto 4rem;
            transition: 0.2s;
            &:hover{
                background-color: $clrMagenta;
                color: #fff;
            }
        }
    }
    .social{
        ul{
            display: flex;
            align-items: center;
            justify-content: space-between;
            width:40%;
            margin: 0 auto;
            li{
                
                i{
                    color: #fff;
                    border: 1px solid #fff;
                    padding: 0.5rem;
                    border-radius: 50%;
                    transition: 0.2s;
                    &:hover{
                        color: $clrMagenta;
                        border-color: $clrMagenta;
                    }
                }
                .fa-facebook-f{
                    padding: 0.5rem 0.75rem;
                }
                
            }
        }
    }
}

// front end mentor 



    @media(min-width:768px){
        .container{
            padding: 2rem 5.5rem;
            .section{
                padding: 0 3rem;
                .btn{
                    width: 40%;
                }
                .social{
                   ul{
                       width: 30%;
                   }
                }
            }
        }
    }
    @media(min-width:1024px){
        .container{
            padding: 2rem 3rem;
            max-width: 1440px;
            margin: 0 auto;
            position: relative;
            background-image: url(../images/bg-desktop.svg);
            .logo{
                img{
                    width: 15%;
                }
            }
            .wrapper{
                display: flex;
                align-items: fle;

                justify-content: space-between;
                .mockups{
                    flex-basis: 55%;
                }
                .section{
                    flex-basis: 38%;
                    padding: 3rem 0;
                    text-align: left;

                    h1{
                        font-size: 2.5rem;
                    }
                    
                    .btn{
                        margin: 0 auto 0 0;
                        padding: 0.5rem;
                        text-align: center;
                        width: 30%;
                    }
                    .social{
                        position: absolute;
                        right: 0;
                        bottom: 20px;
                        width: 25%;
                        padding: 0 3rem;
                        
                        ul{
                            width: 100%;
                            // margin-right: 4rem;
                        }
                    }
                }
            }
        }
        
    }
    @media(min-width:1440px){
        .section{
            .social{
                max-width: 18%;
            }
        }
        
        
    }

    .attribution {
        font-size: 11px; text-align: center; color: #fff;
       }
   .attribution a {
        color: #fff; 
       }